// LAYOUT
$content-width: 1440px;
$grid-width: 1200px;

// COLORS
$black-1: #000000;
$black-2: #1C1C1C;
$black-3: #656E7B;
$white-1: #ffffff;
$purple-1: #8B82DA;
$purple-2: #9B8BDA;
$purple-3: #8F83FF;
$purple-4: #8075e8;
$purple-5: #8C83DA;
$purple-6: #5444EC;