.cmpt-banner {
    width: 100%;
    display: inline-block;
    padding-bottom: 48%;
    position: relative;
    margin-bottom: 160px;

    &.--is-light {
        background: $purple-1;
        color: $black-1;
    }

    &.--is-dark {
        background: $black-1;
        color: $white-1;
    }

    &.--is-left {
        clip-path: polygon(0 0, 100% 0%, 100% 84%, 0% 100%);
    }

    &.--is-right {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 84%);
        text-align: right;
    }
}

.cmpt-banner__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;    
}

.cmpt-banner__content {
    width: 100%;
    max-width: $grid-width;
    padding: 90px 120px 0 120px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}