.cmpt-collage {
    background: $black-1;
    color: $white-1;
    position: relative;
    padding-bottom: 50%;

    .global-container {
        height: 100%;
        display: flex;
        align-items: stretch;
    }
}

.cmpt-collage__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cmpt-collage__text {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.cmpt-collage__images {
    flex-grow: 1;
    position: relative;

    img {
        position: absolute;
    }
}

.cmpt-collage__text-title {
    font-style: normal;
    font-weight: 300;
    font-size: 72px;
    line-height: 120%;
    letter-spacing: -0.01em;
}

.cmpt-collage__img-00 {
    top: 0;
    left: 50px;
    width: 30%;
}

.cmpt-collage__img-01 {
    top: 0;
    right: -50px;
    width: 25%;
}

.cmpt-collage__img-02 {
    top: 35%;
    left: 40%;
    width: 20%;
}

.cmpt-collage__img-03 {
    bottom: 0;
    left: 0px;
    width: 30%;
}

.cmpt-collage__img-04 {
    bottom: 0;
    right: -50px;
    width: 35%;
}