.cmpt-link-list {
    margin-top: 185px;
    margin-bottom: 270px;

    ol {
        width: 75%; // 9 columns
        list-style: none;
        counter-reset: list-counter;
      }

      ol li {
        counter-increment: list-counter;
        display: flex;
        align-items: center;
        border-bottom: solid 1px $purple-6;
        padding-bottom: 50px;
        margin-bottom: 50px;

        &:last-of-type {
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 0;
        }
      }

      ol li::before {
        content: "0" counter(list-counter);
        color: $purple-6;
        font-family: 'Newsreader', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        margin-right: 74px;
      }      
}

.cmpt-link-list__heading {
    margin-bottom: 220px;
    color: $purple-5;
}

.cmpt-link-list__list-wrapper {
    display: flex;
    justify-content: flex-end;
    font-weight: 300;
    font-size: 72px;
    line-height: 100%;
    letter-spacing: -0.01em;
}